// Fonts

$font-base: "Open Sans", sans-serif;
$font-alt: "Merriweather", sans-serif;

// Colors

$color-light-gray: #f0f1f1;

$color-text: #5e5322;

// #FAD648

$color-secondary: #737373;

$color-primary: #3c3c3c;
