.container__three--columns {
  position: relative;
  height: auto;
  display: flex;
  background-color: #e28743;
  margin-top: 15rem;

  .container__column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 100%;

    .head__number {
      font-weight: 300;
      font-size: 9rem;
      color: $color-text;
    }
    .head__text--column {
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-primary;
      padding-top: 1rem;
      padding-bottom: 2.8rem;
    }
    .info__paragraph {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.6rem;
      width: 33.4rem;
      color: $color-primary;
    }
  }
}
