.container__three--columns {
  position: relative;
  display: flex;

  .container__column {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4.6rem;
    margin-bottom: 8.6rem;
    margin-left: 16.3rem;
    margin-right: 16.3rem;
    .head__number {
      font-weight: 300;
      font-size: 9rem;
      color: $color-text;
    }
    .head__text--column {
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-primary;
      padding-top: 1rem;
      padding-bottom: 2.8rem;
    }
    .info__paragraph {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.6rem;
      width: 33.4rem;
      color: $color-primary;
    }
  }

  .background {
    height: 38.4rem;
    position: absolute;
    z-index: -999;
  }
}
