.container__three--columns {
  position: relative;
  max-width: 100%;
  height: auto;
  display: flex;

  .container__column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(2) {
      left: 25%;
      margin-left: -143px;
      margin-right: 143px;
    }

    &:nth-child(3) {
      left: 45%;
      margin-left: 143px;
    }

    &:nth-child(4) {
      left: 85%;
      margin-right: 143px;
    }

    .head__number {
      font-weight: 300;
      font-size: 9rem;
      color: $color-text;
    }
    .head__text--column {
      font-weight: 400;
      font-size: 1.8rem;
      color: $color-primary;
      padding-top: 1rem;
      padding-bottom: 2.8rem;
    }
    .info__paragraph {
      font-family: $font-alt;
      font-weight: 300;
      font-size: 1.6rem;
      width: 33.4rem;
      color: $color-primary;
    }
  }

  .background {
    max-width: 100%;
    height: auto;
  }
}
