.container__donate--things {
  display: flex;
  height: 85.3rem;
  .container__background {
    width: 50%;
    .pullover__background {
      width: 101.5rem;
      height: 85.3rem;
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .header__section--container {
    display: flex;
    flex-direction: column;
    padding-top: 25.7rem;
    text-align: center;
    align-items: center;
    .header__text {
      font-weight: 400;
      font-size: 3.8rem;
      color: $color-primary;
      padding-bottom: 3.896rem;
      width: 60.2rem;
      height: 10.7rem;
    }
    .description__header {
      font-size: 4rem;
      font-weight: 300;
      font-family: $color-primary;
      padding-top: 1.92rem;
    }
    .boxes__wrapper {
      display: flex;

      .box__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
        border: 0.75px solid #3c3c3c;
        width: 19rem;
        height: 19rem;
        transform: rotateZ(45deg);
        margin-top: 5.58rem;
        .number__step {
          transform: rotate(-45deg);
          width: 3rem;
          font-size: 4rem;
          position: absolute;
          left: 13px;
          font-weight: 300;
        }
        .step {
          transform: rotate(-45deg);
          width: 11rem;
          font-weight: 300;
          font-size: 2.5rem;
          transform: translate(10px, 70px) rotate(-45deg);
        }
      }
    }
  }
}
.important__info {
  background-color: $color-background;
  height: 17.9rem;
  width: 100%;

  .important__header {
    font-size: 3.6rem;
    font-weight: 700;
    padding-top: 5rem;
    margin-left: 14.2rem;
    color: $color-primary;
  }
  .important__text {
    font-size: 2.2rem;
    color: $color-primary;
    margin-left: 14.2rem;
    font-weight: 400;
  }
}
