@import "./scss/settings/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-base;
}

@import "./components/Navigation/navigation.scss";
@import "./components/Start/dashboardStart.scss";
@import "./views/Logout/logout.scss";
@import "././components/ThreeColumns/dashboardThreeColumns.scss";
@import "././components/FourSteps/dashboardFourSteps.scss";
@import "././components/AboutUs/dashboardAboutUs.scss";
@import "././components/WhatWeHelp/whatWeHelp.scss";
@import "././components//Contact/contactForm.scss";
